![Logo LIVIA](https://uploaddeimagens.com.br/images/004/196/406/full/notebook_livia.png?1669774882)

# **Integração SQL x Pyhton**

## **Importando o necessário**

mysql+pymysql://username:password@host:port/database_name

In [ ]:
import pymysql
import pandas as pd

def query_to_dataframe(query):
    # Define as informações da conexão
    host = "containers-us-west-88.railway.app"
    port = 7344
    user = "root"
    password = ""
    database = "railway"

    # Conecta ao banco de dados
    connection = pymysql.connect(
        host=host,
        port=port,
        user=user,
        password=password,
        database=database
    )

    # Executa a query SQL e obtém os resultados em um DataFrame
    df = pd.read_sql_query(query, connection)

    # Fecha a conexão
    connection.close()

    # Retorna o DataFrame com os resultados da query
    return df

## **Aplicando comandos**

###**SELECT** é usado para mostrar nossos dados

### **FROM** é usado para especificar a tabela com que estamos trabalhando

### **SELECT ***: Seleciona todas as colunas da tabela

**Selecione todas as colunas de sua tabela:**

In [18]:
query = ""
df = query_to_dataframe(query)
df

 * mysql+pymysql://root:***@containers-us-west-203.railway.app:7541/railway
107 rows affected.

[('Afeganistão', 'Ásia', 'Cabul', 'Dari e pashto', Decimal('652230.00'), 38928346, Decimal('19.14'), Decimal('64.49')),
 ('Alemanha', 'Europa', 'Berlim', 'Alemão', Decimal('357386.00'), 83019200, Decimal('3861.82'), Decimal('80.89')),
 ('Angola', 'África', 'Luanda', 'Português', Decimal('1246700.00'), 31825299, Decimal('103.99'), Decimal('61.15')),
 ('Arábia Saudita', 'Ásia', 'Riade', 'Árabe', Decimal('2149690.00'), 34813867, Decimal('793.97'), Decimal('74.80')),
 ('Argélia', 'África', 'Argel', 'Árabe', Decimal('2381741.00'), 43851044, Decimal('171.00'), Decimal('77.54')),
 ('Argentina', 'América do Sul', 'Buenos Aires', 'Espanhol', Decimal('2780400.00'), 45376763, Decimal('451.09'), Decimal('76.31')),
 ('Armênia', 'Ásia', 'Erevan', 'Armênio', Decimal('29743.00'), 2967004, Decimal('12.44'), Decimal('75.09')),
 ('Austrália', 'Oceania', 'Camberra', 'Inglês', Decimal('7692024.00'), 25649909, Decimal('1393868.00'), Decimal('83.30')),
 ('Áustria', 'Europa', 'Viena', 'Alemão', Decimal('83871.00'), 8917205, Decimal('455.32'), Decimal('81.69')),
 ('Bangladesh', 'Ásia', 'Daca', 'Bengali', Decimal('147570.00'), 163046161, Decimal('302.56'), Decimal('72.59')),
 ('Barein', 'Ásia', 'Manama', 'Árabe', Decimal('778.00'), 1711057, Decimal('39.61'), Decimal('76.24')),
 ('Bélgica', 'Europa', 'Bruxelas', 'Francês/Neerlandês/Alemão', Decimal('30528.00'), 11433256, Decimal('530.08'), Decimal('81.65')),
 ('Benin', 'África', 'Porto Novo', 'Francês', Decimal('114763.00'), 12315247, Decimal('12.04'), Decimal('61.77')),
 ('Bielorrússia', 'Europa', 'Minsk', 'Bielorrusso/Russo', Decimal('207595.00'), 9465300, Decimal('61.95'), Decimal('74.80')),
 ('Bolívia', 'América do Sul', 'La Paz/Sucre', 'Espanhol/Quechua/Aimará', Decimal('1098581.00'), 11633371, Decimal('42.72'), Decimal('71.51')),
 ('Botswana', 'África', 'Gaborone', 'Inglês', Decimal('581730.00'), 2374636, Decimal('18.44'), Decimal('68.44')),
 ('Brasil', 'América do Sul', 'Brasília', 'Português', Decimal('8515767.00'), 213993437, Decimal('2148.80'), Decimal('76.62')),
 ('Brunei', 'Ásia', 'Bandar Seri Begawan', 'Malaio e inglês', Decimal('5765.00'), 459500, Decimal('14.67'), Decimal('76.47')),
 ('Burkina Faso', 'África', 'Uagadugu', 'Francês', Decimal('270764.00'), 20107509, Decimal('15.00'), Decimal('61.03')),
 ('Burundi', 'África', 'Bujumbura', 'Kirundi', Decimal('27834.00'), 12138233, Decimal('3.19'), Decimal('61.23')),
 ('Butão', 'Ásia', 'Timbu', 'Dzongkha', Decimal('38394.00'), 771608, Decimal('3.14'), Decimal('72.80')),
 ('Cabo Verde', 'África', 'Praia', 'Português', Decimal('4033.00'), 555988, Decimal('3.14'), Decimal('73.93')),
 ('Camarões', 'África', 'Iaundé', 'Francês', Decimal('475442.00'), 28276636, Decimal('40.23'), Decimal('60.82')),
 ('Camboja', 'Ásia', 'Phnom Penh', 'Khmer', Decimal('181035.00'), 16718965, Decimal('27.10'), Decimal('69.07')),
 ('Canadá', 'América do Norte', 'Ottawa', 'Inglês/Francês', Decimal('9984670.00'), 38005238, Decimal('1765.27'), Decimal('82.30')),
 ('Cazaquistão', 'Ásia', 'Nursultan', 'Cazaque e russo', Decimal('2724900.00'), 18754440, Decimal('182.37'), Decimal('73.50')),
 ('Chade', 'África', "N'Djamena", 'Árabe', Decimal('1284000.00'), 16926667, Decimal('11.05'), Decimal('54.24')),
 ('Chile', 'América do Sul', 'Santiago', 'Espanhol', Decimal('756096.00'), 19458310, Decimal('282.08'), Decimal('80.07')),
 ('Colômbia', 'América do Sul', 'Bogotá', 'Espanhol', Decimal('1141748.00'), 51265814, Decimal('323.11'), Decimal('76.08')),
 ('Comores', 'África', 'Moroni', 'Francês', Decimal('2235.00'), 873724, Decimal('0.62'), Decimal('63.30')),
 ('Congo', 'África', 'Brazaville', 'Francês', Decimal('342000.00'), 5399895, Decimal('7.99'), Decimal('64.98')),
 ('Coreia do Sul', 'Ásia', 'Seul', 'Coreano', Decimal('100210.00'), 51361994, Decimal('1640.04'), Decimal('82.38')),
 ('Costa do Marfim', 'África', 'Iamussucro', 'Francês', Decimal('322463.00'), 26502772, Decimal('49.73'), Decimal('57.78')),
 ('Costa Rica', 'América Central', 'San José', 'Espanhol', Decimal('51100.00'), 5139776, Decimal('60.19'), Decimal('80.28')),
 ('Croácia', 'Europa', 'Zagreb', 'Croata', Decimal('56594.00'), 4081650, Decimal('60.31'), Decimal('78.19')),
 ('Cuba', 'América Central', 'Havana', 'Espanhol', Decimal('109884.00'), 11333483, Decimal('97.20'), Decimal('78.14')),
 ('Dinamarca', 'Europa', 'Copenhague', 'Dinamarquês', Decimal('42933.00'), 5822763, Decimal('306.93'), Decimal('80.93')),
 ('Djibuti', 'África', 'Djibuti', 'Francês', Decimal('23200.00'), 1078373, Decimal('3.01'), Decimal('63.80')),
 ('Egito', 'África', 'Cairo', 'Árabe', Decimal('1002450.00'), 100388073, Decimal('303.00'), Decimal('71.99')),
 ('Emirados Árabes Unidos', 'Ásia', 'Abu Dhabi', 'Árabe', Decimal('83600.00'), 9890402, Decimal('414.20'), Decimal('77.97')),
 ('Eritreia', 'África', 'Asmara', 'Inglês', Decimal('117600.00'), 3546421, Decimal('3.33'), Decimal('66.32')),
 ('Eslováquia', 'Europa', 'Bratislava', 'Eslovaco', Decimal('49035.00'), 5450421, Decimal('104.61'), Decimal('77.41')),
 ('Eslovênia', 'Europa', 'Liubliana', 'Esloveno', Decimal('20273.00'), 2100126, Decimal('54.31'), Decimal('79.14')),
 ('Espanha', 'Europa', 'Madri', 'Espanhol', Decimal('505990.00'), 47351567, Decimal('1431.69'), Decimal('83.00')),
 ('Estados Unidos', 'América do Norte', 'Washington, D.C.', 'Inglês', Decimal('9833520.00'), 332915073, Decimal('22990.00'), Decimal('77.25')),
 ('Estônia', 'Europa', 'Tallinn', 'Estoniano', Decimal('45227.00'), 1324820, Decimal('30.28'), Decimal('77.66')),
 ('Etiópia', 'África', 'Adis Abeba', 'Amárico', Decimal('1104300.00'), 117876000, Decimal('95.88'), Decimal('66.60')),
 ('Fiji', 'Oceania', 'Suva', 'Inglês, Fijiano, Hindi', Decimal('18272.00'), 896444, Decimal('5507.00'), Decimal('69.20')),
 ('Finlândia', 'Europa', 'Helsinque', 'Finlandês', Decimal('338145.00'), 5523231, Decimal('236.09'), Decimal('81.88')),
 ('França', 'Europa', 'Paris', 'Francês', Decimal('643801.00'), 66977107, Decimal('2583.44'), Decimal('83.46')),
 ('Gabão', 'África', 'Libreville', 'Francês', Decimal('267667.00'), 2254126, Decimal('17.14'), Decimal('66.26')),
 ('Geórgia', 'Ásia', 'Tbilisi', 'Georgiano', Decimal('69700.00'), 3723464, Decimal('15.91'), Decimal('74.69')),
 ('Grécia', 'Europa', 'Atenas', 'Grego', Decimal('131957.00'), 10746740, Decimal('209.46'), Decimal('81.47')),
 ('Guatemala', 'América Central', 'Cidade da Guatemala', 'Espanhol', Decimal('108889.00'), 18952176, Decimal('85.47'), Decimal('74.01')),
 ('Haiti', 'América Central', 'Porto Príncipe', 'Francês/Creole', Decimal('27750.00'), 11402533, Decimal('9.57'), Decimal('64.03')),
 ('Honduras', 'América Central', 'Tegucigalpa', 'Espanhol', Decimal('112492.00'), 10183339, Decimal('24.43'), Decimal('75.18')),
 ('Hungria', 'Europa', 'Budapeste', 'Húngaro', Decimal('93030.00'), 9764000, Decimal('163.23'), Decimal('75.14')),
 ('Iêmen', 'Ásia', 'Sanaa', 'Árabe', Decimal('527968.00'), 29825968, Decimal('26.82'), Decimal('66.63')),
 ('Ilhas Cook', 'Oceania', 'Avarua', 'Inglês, Cook Islands Māori', Decimal('236.00'), 17564, Decimal('236.00'), Decimal('76.50')),
 ('Ilhas Marshall', 'Oceania', 'Majuro', 'Inglês, Marshallese', Decimal('181.43'), 58413, Decimal('215.00'), Decimal('73.00')),
 ('Ilhas Salomão', 'Oceania', 'Honiara', 'Inglês', Decimal('28896.00'), 703996, Decimal('1295.00'), Decimal('73.30')),
 ('Irã', 'Ásia', 'Teerã', 'Persa', Decimal('1648195.00'), 83992949, Decimal('458.28'), Decimal('75.36')),
 ('Iraque', 'Ásia', 'Bagdá', 'Árabe e curdo', Decimal('438317.00'), 40222493, Decimal('236.60'), Decimal('69.21')),
 ('Irlanda', 'Europa', 'Dublin', 'Irlandês/Inglês', Decimal('70273.00'), 4994724, Decimal('383.49'), Decimal('82.20')),
 ('Israel', 'Ásia', 'Jerusalém', 'Hebraico e árabe', Decimal('20770.00'), 9197590, Decimal('394.95'), Decimal('82.80')),
 ('Itália', 'Europa', 'Roma', 'Italiano', Decimal('301338.00'), 60252824, Decimal('1965.10'), Decimal('83.53')),
 ('Jamaica', 'América Central', 'Kingston', 'Inglês', Decimal('10991.00'), 2961167, Decimal('15.98'), Decimal('74.26')),
 ('Japão', 'Ásia', 'Tóquio', 'Japonês', Decimal('377972.00'), 126440000, Decimal('4964.92'), Decimal('84.63')),
 ('Jordânia', 'Ásia', 'Amã', 'Árabe', Decimal('89342.00'), 10101694, Decimal('43.87'), Decimal('74.40')),
 ('Kiribati', 'Oceania', 'Tarawa', 'Inglês, Kiribatiano', Decimal('811.00'), 125990, Decimal('194.00'), Decimal('68.10')),
 ('Kuwait', 'Ásia', 'Cidade do Kuwait', 'Árabe', Decimal('17818.00'), 4270571, Decimal('120.40'), Decimal('75.65')),
 ('Laos', 'Ásia', 'Viena Chan', 'Lao', Decimal('236800.00'), 7275556, Decimal('19.97'), Decimal('66.67')),
 ('Letônia', 'Europa', 'Riga', 'Letão', Decimal('64559.00'), 1914242, Decimal('33.06'), Decimal('75.03')),
 ('Líbano', 'Ásia', 'Beirute', 'Árabe', Decimal('10452.00'), 6848925, Decimal('56.71'), Decimal('79.20')),
 ('Lituânia', 'Europa', 'Vilnius', 'Lituano', Decimal('65300.00'), 2793970, Decimal('53.92'), Decimal('75.89')),
 ('Maldivas', 'Ásia', 'Malé', 'Dhivehi', Decimal('300.00'), 557426, Decimal('5.72'), Decimal('77.43')),
 ('México', 'América do Norte', 'Cidade do México', 'Espanhol', Decimal('1964375.00'), 130262216, Decimal('1290.69'), Decimal('76.74')),
 ('Micronésia', 'Oceania', 'Palikir', 'Inglês, Ponapeano, Chuukese, Yapese, Kosraean', Decimal('702.00'), 116254, Decimal('375.00'), Decimal('71.10')),
 ('Mongólia', 'Ásia', 'Ulã Bator', 'Mongol', Decimal('1564116.00'), 3278292, Decimal('13.50'), Decimal('68.70')),
 ('Nauru', 'Oceania', 'Yaren', 'Nauruano, Inglês', Decimal('21.00'), 10780, Decimal('110.00'), Decimal('66.10')),
 ('Nepal', 'Ásia', 'Catmandu', 'Nepalês', Decimal('147181.00'), 29996478, Decimal('28.76'), Decimal('70.78')),
 ('Nicarágua', 'América Central', 'Manágua', 'Espanhol', Decimal('130373.00'), 6624554, Decimal('12.67'), Decimal('74.51')),
 ('Niue', 'Oceania', 'Alofi', 'Niueano, Inglês', Decimal('260.00'), 1628, Decimal('15.00'), Decimal('71.40')),
 ('Noruega', 'Europa', 'Oslo', 'Norueguês', Decimal('385178.00'), 5330800, Decimal('398.07'), Decimal('83.27')),
 ('Nova Zelândia', 'Oceania', 'Wellington', 'Inglês, Maori', Decimal('270467.00'), 4992700, Decimal('205332.00'), Decimal('81.50')),
 ('Palau', 'Oceania', 'Ngerulmud', 'Palauano, Inglês', Decimal('459.00'), 18094, Decimal('285.00'), Decimal('73.00')),
 ('Panamá', 'América Central', 'Cidade do Panamá', 'Espanhol', Decimal('75417.00'), 4293812, Decimal('66.77'), Decimal('79.23')),
 ('Papua Nova Guiné', 'Oceania', 'Port Moresby', 'Inglês, Tok Pisin, Hiri Motu', Decimal('462840.00'), 9026089, Decimal('28782.00'), Decimal('64.80')),
 ('Paquistão', 'Ásia', 'Islamabad', 'Urdu e inglês', Decimal('796095.00'), 220892340, Decimal('278.22'), Decimal('67.33')),
 ('Paraguai', 'América do Sul', 'Assunção', 'Espanhol/Guarani', Decimal('406752.00'), 7132538, Decimal('44.89'), Decimal('75.00')),
 ('Peru', 'América do Sul', 'Lima', 'Espanhol/Quechua', Decimal('1285216.00'), 33471650, Decimal('227.35'), Decimal('75.27')),
 ('Quirguistão', 'Ásia', 'Bishkek', 'Quirguiz', Decimal('199951.00'), 6523500, Decimal('8.97'), Decimal('71.00')),
 ('República Dominicana', 'América Central', 'Santo Domingo', 'Espanhol', Decimal('48671.00'), 10950886, Decimal('88.36'), Decimal('74.79')),
 ('Samoa', 'Oceania', 'Apia', 'Samoano, Inglês', Decimal('2831.00'), 200874, Decimal('858.00'), Decimal('73.40')),
 ('Síria', 'Ásia', 'Damasco', 'Árabe', Decimal('185180.00'), 17500658, Decimal('20.41'), Decimal('71.61')),
 ('Sri Lanka', 'Ásia', 'Colombo', 'Cingalês', Decimal('65610.00'), 20966000, Decimal('88.39'), Decimal('76.98')),
 ('Taiwan', 'Ásia', 'Taipé', 'Mandarim', Decimal('36193.00'), 23816000, Decimal('680.95'), Decimal('80.31')),
 ('Tajiquistão', 'Ásia', 'Duchambe', 'Tadjique', Decimal('143100.00'), 9000000, Decimal('9.13'), Decimal('70.70')),
 ('Timor-Leste', 'Ásia', 'Díli', 'Tétum e português', Decimal('14919.00'), 1318442, Decimal('4.51'), Decimal('69.17')),
 ('Tonga', 'Oceania', 'Nukuʻalofa', 'Tonganês, Inglês', Decimal('747.00'), 100651, Decimal('511.00'), Decimal('70.30')),
 ('Turquemenistão', 'Ásia', 'Asgabate', 'Turcomeno', Decimal('488100.00'), 5850902, Decimal('43.50'), Decimal('68.50')),
 ('Tuvalu', 'Oceania', 'Funafuti', 'Tuvaluano, Inglês', Decimal('26.00'), 11800, Decimal('41.00'), Decimal('67.10')),
 ('Ucrânia', 'Ásia', 'Kiev', 'Ucraniano', Decimal('603500.00'), 43733762, Decimal('153.04'), Decimal('72.51')),
 ('Uruguai', 'América do Sul', 'Montevidéu', 'Espanhol', Decimal('176215.00'), 3473727, Decimal('53.96'), Decimal('77.13')),
 ('Uzbequistão', 'Ásia', 'Tashkent', 'Uzbeque', Decimal('447400.00'), 32750000, Decimal('55.59'), Decimal('72.20')),
 ('Vanuatu', 'Oceania', 'Port Vila', 'Bislama, Inglês, Francês', Decimal('12189.00'), 299882, Decimal('897.00'), Decimal('72.60')),
 ('Vietnã', 'Ásia', 'Hanói', 'Vietnamita', Decimal('331212.00'), 97429061, Decimal('354.33'), Decimal('75.17'))]

#### **SELECT Col1, Col2...** Seleciona colunas específicas

**Selecione as colunas name e continent de sua tabela**

In [ ]:
query = ""
df = query_to_dataframe(query)
df

#### **AS**: Após selecionar as colunas específicas, é possível renomeá-las

**Selecione as colunas name e population de sua tabela, e as nomeie como País e População**

In [ ]:
query = ""
df = query_to_dataframe(query)
df

#### **LIMIT:** Seleciona n primeiras linhas

**Selecione as 5 primeiras linhas de sua tabela**

In [9]:
query = ""
df = query_to_dataframe(query)
df

 * mysql+pymysql://root:***@containers-us-west-203.railway.app:7541/railway
5 rows affected.

[('Afeganistão', 'Ásia', 'Cabul', 'Dari e pashto', Decimal('652230.00'), 38928346, Decimal('19.14'), Decimal('64.49')),
 ('Alemanha', 'Europa', 'Berlim', 'Alemão', Decimal('357386.00'), 83019200, Decimal('3861.82'), Decimal('80.89')),
 ('Angola', 'África', 'Luanda', 'Português', Decimal('1246700.00'), 31825299, Decimal('103.99'), Decimal('61.15')),
 ('Arábia Saudita', 'Ásia', 'Riade', 'Árabe', Decimal('2149690.00'), 34813867, Decimal('793.97'), Decimal('74.80')),
 ('Argélia', 'África', 'Argel', 'Árabe', Decimal('2381741.00'), 43851044, Decimal('171.00'), Decimal('77.54'))]

### **ORDER BY:** ordena a tabela inteira de acordo com uma coluna

#### **DESC:** ordena do maior para o menor, de forma descendente

*Mostre os 10 países mais populosos do mundo de sua tabela, mostrando nome e população, de forma descrescente*

In [10]:
query = ""
df = query_to_dataframe(query)
df

 * mysql+pymysql://root:***@containers-us-west-203.railway.app:7541/railway
10 rows affected.

[('Estados Unidos', 332915073),
 ('Paquistão', 220892340),
 ('Brasil', 213993437),
 ('Bangladesh', 163046161),
 ('México', 130262216),
 ('Japão', 126440000),
 ('Etiópia', 117876000),
 ('Egito', 100388073),
 ('Vietnã', 97429061),
 ('Irã', 83992949)]

#### **ASC:** ordena do menor para o maior, de forma ascendente

*Mostre os 5 países mais pobres de sua tabela, mostrando seus respectivos nomes, continentes e gdp*

In [11]:
query = ""
df = query_to_dataframe(query)
df

 * mysql+pymysql://root:***@containers-us-west-203.railway.app:7541/railway
5 rows affected.

[('Comores', 'África', Decimal('0.62')),
 ('Djibuti', 'África', Decimal('3.01')),
 ('Butão', 'Ásia', Decimal('3.14')),
 ('Cabo Verde', 'África', Decimal('3.14')),
 ('Burundi', 'África', Decimal('3.19'))]

### **WHERE** aplica filtros específicos, como =, >= e <=.

*Mostre todos os países asiáticos de sua tabela*

In [13]:
query = ""
df = query_to_dataframe(query)
df

 * mysql+pymysql://root:***@containers-us-west-203.railway.app:7541/railway
35 rows affected.

[('Afeganistão',),
 ('Arábia Saudita',),
 ('Armênia',),
 ('Bangladesh',),
 ('Barein',),
 ('Brunei',),
 ('Butão',),
 ('Camboja',),
 ('Cazaquistão',),
 ('Coreia do Sul',),
 ('Emirados Árabes Unidos',),
 ('Geórgia',),
 ('Iêmen',),
 ('Irã',),
 ('Iraque',),
 ('Israel',),
 ('Japão',),
 ('Jordânia',),
 ('Kuwait',),
 ('Laos',),
 ('Líbano',),
 ('Maldivas',),
 ('Mongólia',),
 ('Nepal',),
 ('Paquistão',),
 ('Quirguistão',),
 ('Síria',),
 ('Sri Lanka',),
 ('Taiwan',),
 ('Tajiquistão',),
 ('Timor-Leste',),
 ('Turquemenistão',),
 ('Ucrânia',),
 ('Uzbequistão',),
 ('Vietnã',)]

*Países com população superior ou igual a 200 milhões de habitantes de sua tabela*

In [14]:
query = ""
df = query_to_dataframe(query)
df

 * mysql+pymysql://root:***@containers-us-west-203.railway.app:7541/railway
3 rows affected.

[('Brasil',), ('Estados Unidos',), ('Paquistão',)]

*Países localizados na América do Sul de sua tabela*

In [19]:
query = ""
df = query_to_dataframe(query)
df

 * mysql+pymysql://root:***@containers-us-west-203.railway.app:7541/railway
8 rows affected.

[('Argentina',),
 ('Bolívia',),
 ('Brasil',),
 ('Chile',),
 ('Colômbia',),
 ('Paraguai',),
 ('Peru',),
 ('Uruguai',)]

#### **OR** e **AND:** combinam filtros

*Apresente os países americanos de sua tabela*

In [21]:
query = ""
df = query_to_dataframe(query)
df

 * mysql+pymysql://root:***@containers-us-west-203.railway.app:7541/railway
20 rows affected.

[('Argentina',),
 ('Bolívia',),
 ('Brasil',),
 ('Canadá',),
 ('Chile',),
 ('Colômbia',),
 ('Costa Rica',),
 ('Cuba',),
 ('Estados Unidos',),
 ('Guatemala',),
 ('Haiti',),
 ('Honduras',),
 ('Jamaica',),
 ('México',),
 ('Nicarágua',),
 ('Panamá',),
 ('Paraguai',),
 ('Peru',),
 ('República Dominicana',),
 ('Uruguai',)]

### **COUNT** contabiliza linhas em uma coluna

*Veja quantas linhas as colunas de sua tabela possuem*

In [22]:
query = ""
df = query_to_dataframe(query)
df

 * mysql+pymysql://root:***@containers-us-west-203.railway.app:7541/railway
1 rows affected.

[(107,)]

#### **COUNT(DISTINCT)** contabiliza quantas variáveis possuem em uma coluna

*Mostre quantos continentes estão presentes na sua tabela*

In [23]:
query = ""
df = query_to_dataframe(query)
df

 * mysql+pymysql://root:***@containers-us-west-203.railway.app:7541/railway
1 rows affected.

[(7,)]

### **Operadores matemáticos**

#### **SUM** é o somatório de valores de uma coluna

*Quantos habitantes estão presentes em sua tabela?*

In [24]:
query = ""
df = query_to_dataframe(query)
df

 * mysql+pymysql://root:***@containers-us-west-203.railway.app:7541/railway
1 rows affected.

[(Decimal('2959550935'),)]

#### **AVG:** Média de valores de uma coluna

*Qual o PIB médio mundial?*

In [25]:
query = ""
df = query_to_dataframe(query)
df

 * mysql+pymysql://root:***@containers-us-west-203.railway.app:7541/railway
1 rows affected.

[(Decimal('15830.992804'),)]

#### **MIN:** Menor valor de uma coluna

*Qual o menor país do mundo?*

In [26]:
query = ""
df = query_to_dataframe(query)
df

 * mysql+pymysql://root:***@containers-us-west-203.railway.app:7541/railway
1 rows affected.

[(Decimal('21.00'),)]

In [28]:
query = ""
df = query_to_dataframe(query)
df

 * mysql+pymysql://root:***@containers-us-west-203.railway.app:7541/railway
1 rows affected.

[('Nauru', Decimal('21.00'))]

#### **MAX:** Maior valor de uma coluna

*Qual o maior país do mundo?*

In [29]:
query = ""
df = query_to_dataframe(query)
df

 * mysql+pymysql://root:***@containers-us-west-203.railway.app:7541/railway
1 rows affected.

[(Decimal('9984670.00'),)]

In [30]:
query = ""
df = query_to_dataframe(query)
df

 * mysql+pymysql://root:***@containers-us-west-203.railway.app:7541/railway
1 rows affected.

[('Canadá', Decimal('9984670.00'))]

### **GROUP BY** permite mostrar quantas vezes uma variável é repetida em uma coluna

**Mostre quantos países existem em cada continente**

In [31]:
query = ""
df = query_to_dataframe(query)
df

 * mysql+pymysql://root:***@containers-us-west-203.railway.app:7541/railway
7 rows affected.

[('Ásia', 35),
 ('Europa', 19),
 ('África', 17),
 ('América do Sul', 8),
 ('Oceania', 16),
 ('América do Norte', 3),
 ('América Central', 9)]

## **Execícios - Revisão**

### 1) Mostre todos os dados de sua tabela

### 2) Mostre as colunas nome e população da sua tabela

### 3) Mostre as colunas 'nome' e 'continente', chamando elas de 'País' e 'Continente'.

### 4) Mostre as 6 primeiras linhas da sua tabela

### 5) Mostre em ordem alfabética decrescente (Z-A) 10 linhas da tabela, de acordo com os nomes dos países

### 6) Apresente os países que têm gdp maior que 1 trilhão de dólares

### 7) Mostre os países do continente europeu e asiático

### 8) Quantos continentes estão contidos na sua tabela?

### 9) Faça a soma da população de todos os países

### 10) Qual o país mais populoso?

### 11) Mostre quantos países em cada continente possui mais de 200 milhões de habitantes