![Logo LIVIA](https://uploaddeimagens.com.br/images/004/196/406/full/notebook_livia.png?1669774882)

In [ ]:
import pymysql
import pandas as pd

def query_to_dataframe(query):
    # Define as informações da conexão
    host = "containers-us-west-88.railway.app"
    port = 7344
    user = "root"
    password = "2k5honME6Mlq9CIrw5bS"
    database = "railway"

    # Conecta ao banco de dados
    connection = pymysql.connect(
        host=host,
        port=port,
        user=user,
        password=password,
        database=database
    )

    # Executa a query SQL e obtém os resultados em um DataFrame
    df = pd.read_sql_query(query, connection)

    # Fecha a conexão
    connection.close()

    # Retorna o DataFrame com os resultados da query
    return df

## **Respostas: Execícios - Revisão**

### 1) Mostre todos os dados de sua tabela

In [ ]:
query = "select * from paises"
df = query_to_dataframe(query)
df

### 2) Mostre as colunas nome e população da sua tabela

In [ ]:
query = "select nome, populacao from paises"
df = query_to_dataframe(query)
df

### 3) Mostre as colunas 'nome' e 'continente', chamando elas de 'País' e 'Continente'.

In [ ]:
query = "select nome as 'País', continente as 'Continente' from paises"
df = query_to_dataframe(query)
df

### 4) Mostre as 6 primeiras linhas da sua tabela

In [ ]:
query = "select * from paises limit 6"
df = query_to_dataframe(query)
df

### 5) Mostre em ordem alfabética decrescente (Z-A) 10 linhas da tabela, de acordo com os nomes dos países

In [ ]:
query = "select * from paises order by nome desc limit 10"
df = query_to_dataframe(query)
df

### 6) Apresente os países que têm PIB maior que 1 trilhão de dólares

In [ ]:
query = "select * from paises where PIB > 1e12"
df = query_to_dataframe(query)
df

### 7) Mostre os países do continente europeu e asiático

In [ ]:
query = "select * from paises where continente = 'Asia' or continente = 'Europa'"
df = query_to_dataframe(query)
df

###8) Quantos continentes estão contidos na sua tabela?

In [ ]:
query = "select count(distinct continente) as 'Continentes' from paises"
df = query_to_dataframe(query)
df

### 9) Faça a soma da população de todos os países

In [ ]:
%sql select sum(populacao) as 'População Mundial' from paises
df = query_to_dataframe(query)
df

### 10) Qual o país mais populoso?

In [ ]:
query = "select max(populacao) from paises"
df = query_to_dataframe(query)
df

In [ ]:
query = "select nome, continente, populacao from paises where populacao = 1439323776"
df = query_to_dataframe(query)
df

### 11) Mostre quantos países em cada continente possui mais de 200 milhões de habitantes

In [ ]:
query = "select continente, count(*) as 'Qtd de países' from paises where populacao >= 200e6 group by continente"
df = query_to_dataframe(query)
df

 * mysql+pymysql://sql10590424:***@sql10.freesqldatabase.com:3306/sql10590424
3 rows affected.

[('Asia', 3), ('North ', 1), ('South ', 1)]