<a href="https://colab.research.google.com/github/isabela-salete/Introdu-ao-Python/blob/main/Introdu%C3%A7%C3%A3o_%C3%A0_Programa%C3%A7%C3%A3o_com_Python_Um_Guia_Pr%C3%A1tico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<a href='https://sites.google.com/fat.uerj.br/livia'> <img src='../figures/capa2.png' /></a>
___

# Introdução à Programação com Python: Um Guia Prático
#### Desenvolvido por Isabela Salete e Vahid Nikoofard

<h1> Introdução <h1>

<p> O Python é uma linguagem de programação que foi desenvolvida com o intuito de ter comandos simples e de fácil interpretação. Devido a essa característica, tornou-se a porta de entrada de diversas pessoas ao mundo da programação.</p>
<p> Os recursos da biblioteca padrão do Python incluem mais de 250 módulos. Com seu estabelecimento no mercado, foi-se desenvolvendo uma comunidade vasta e, com o auxílio dela, hoje há mais de 130 mil bibliotecas disponíveis para uso no Python. </p>
<p> É uma das linguagens mais utilizadas no mundo, principalmente pela sua versatilidade de funções. As diversas aplicações do Python envolvem áreas como a Ciência de Dados, Desenvolvimento Web, Aprendizagem de Máquinas, Programação Matemática, entre outros. </p>
<p> O objetivo deste notebook é introduzir conceitos básicos da linguagem Python. Portanto, passaremos pelos seguintes tópicos:</p>

* Tipo de Dados
    * Números
    * Strings
    * Exibir
    * Listas
    * Dicionários
    * Booleans
    * Tuples
    * Sets
* Operadores de Comparação
* `if`, `elif`, `else`
* `for` Loops
* `while` Loops
* `range()`
* List Comprehension
* Funções
* Expressões de `lambda`
* `map` e `filter`
* Métodos
____

<h1> Tipos de dados </h1>
<h2> 1. Números </h2>
<p> Podemos utilizar o Python para realizar operações matemáticas simples, assim como uma calculadora. Veja a seguir:</p>

* <h3>  Soma: </h3>
<p> Para realizar uma soma, basta escrever a operação utilizando o sinal de adição "+".

 <p>- Exemplo:</p>

In [ ]:
1 + 1

2

* <h3> Multiplicação:</h3>
<p> O símbolo que realiza a operação de multiplicação é o "*". Para realizar realizá-la, basta escrever a conta com este sinal.

 <p>- Exemplo:  </p>

In [ ]:
1 * 3

3

* <h3> Divisão:</h3>
<p> O símbolo que realiza a operação de divisão é a "/". Para realizar realizá-la, basta escrever a conta com este sinal.

 <p>- Exemplo:  </p>

In [ ]:
1 / 2

0.5

* <h3> Potenciação:</h3>
<p> A potenciação é indicada com o uso de "**". Para realizar esta operação, escreva o número base, o símbolo da potenciação e o valor do expoente que deseja.

 <p>- Exemplo:</p>

In [ ]:
2 ** 4

16

* <h3>Operador de restante da divisão:</h3>
<p> O operador de restante da divisão é representado pela "%". Para realizar essa conta, escreva a operação com esse sinal.

 <p>- Exemplos: </p>

In [ ]:
4 % 2

0

In [ ]:
5 % 2

1

In [ ]:
5 % 3

2

* <h3>Duas operações matemáticas:</h3>
<p>Para realização de duas operações matemáticas diferentes, faça uso de parênteses para determinar a prioridade das operações.

 <p>- Exemplo:</p>

In [ ]:
(2 + 3) * (5 + 5)

50

* <h3>Criação de variáveis:</h3>
<p>Para declarar uma variável, é necessário dar um nome à ela e atribuir seu valor, o símbolo utilizado para isto é o sinal de igualdade "=". Além disso, é importante saber que o nome da variável não pode começar com um caracter especial, não pode haver espaço entre os caracteres e também não é necessário definir o tipo de variável ao declará-la (o próprio Python entende ao executar os comandos).

 <p>- Veja exemplos: </p>

In [ ]:
name_of_var = 2

In [ ]:
name of var = 2

SyntaxError: invalid syntax (<ipython-input-2-5dcb725a1385>, line 1)

In [ ]:
$name_of_var = 2

SyntaxError: invalid syntax (<ipython-input-3-37e2a5d2bed5>, line 1)

In [ ]:
x = 2
y = 3

In [ ]:
z = x + y

In [ ]:
z

5

<h2> 2. Strings </h2>
<p>As strings são cadeias de textos, ou melhor, um conjunto de caracteres. Elas são definidas estando entre aspas simples ou aspas duplas, podendo ser manipuladas por métodos específicos que o Python oferece.

<p>- Veja exemplos:</p>

In [ ]:
'aspas unicas'

'aspas unicas'

In [ ]:
"aspas duplas"

'aspas duplas'

In [ ]:
nome = 'ana'

In [ ]:
nome

'ana'

<p> Este é um exemplo do porque dois tipos de aspas podem definir uma string: </p>

In [ ]:
" um exemplo que 'aspas unicas' e 'duplas' existem"

" um exemplo que 'aspas unicas' e 'duplas' existem"

<h2> 3. Print </h2>
<p>A função <i>print</i> serve para exibir a mensagem escolhida. Basta escrever <i>"print( )"</i> com o nome da variável que deseja exibir dentro do parênteses.</p>

In [ ]:
x = 'hello'

In [ ]:
print(x)

hello

In [ ]:
a = 4
b = 5

In [ ]:
print(a + b)

9

In [ ]:
print('A soma das variáveis é: ', a + b)

A soma das variáveis é:  9

<p><b> OBS: </b> No Jupyter, chamar a variável também fará que sua mensagem seja exibida. Além disso, é possível utilizar a função "display", ela pode apresentar um resultado esteticamente mais agradável.</p>
<p> Exemplos: </p>

In [ ]:
x

'hello'

In [ ]:
display('hello')

'hello'

- <h3> Método format: </h3>
<p> Esse método é utilizado para inserir determinados valores na mensagem exibida pelo <i>print</i>. Pode ser utilizado de duas maneiras, com ambas tendo a necessidade de ter "{ }" no local em que os valores serão inseridos.</p>
<p> 1ª: Escreve-se nomes dentro das "{ }" e dentro do método format é indicado quais variáveis ficaram no lugar dos nomes.  </p>
<p> 2ª: Basta colocar as "{ }" nos locais escolhidos e determinar as variáveis em ordem dentro do método format. </p>

 <p>- Veja os exemplos: </p>

In [ ]:
num = 12
name = 'Sam'

In [ ]:
print('Meu numero é: {um}, e meu nome é: {dois}'.format(um=num,dois=name))

Meu numero é: 12, e meu nome é: Sam

In [ ]:
print('Meu numero é: {}, e meu nome é: {}'.format(num, name))

Meu numero é: 12, e meu nome é: Sam

A partir da versão 3.6 do Python, o string pode ser formatado de maneira mais simples com o <i>"f"</i> indicado antes da string e os termos inseridos em seus respectivos lugares. Observe:

In [ ]:
print(f'Meu numero é: {num}, e meu nome é: {name}')

Meu numero é: 12, e meu nome é: Sam

<h2>4. Listas </h2>
<p>A lista é uma estrutura que é utilizada com o objetivo de guardar mais de uma informação em uma variável. Elas são escritas entre "[ ]" e tem seu conteúdo separado por vírgula. Vale ressaltar que elas são modificavéis e seu conteúdo pode ser alterado.</p>
<p>- Veja um exemplo simples de uma lista: </p>

In [ ]:
[1,2,3]

[1, 2, 3]

<p>Uma lista pode armazenar vários tipos de variáveis, como strings, números ou até mesmo outra lista. </p>
<p>- Exemplo: </p>

In [ ]:
['oi',1,[1,2]]

['oi', 1, [1, 2]]

<p>Assim como para outras estruturas, o Python oferece métodos para manipulação de listas. Falaremos de alguns deles a seguir, tendo como referência a lista "my_list" abaixo.</p>

In [ ]:
my_list = ['a','b','c']

- <h3>Inserir um elemento novo no final de uma lista:</h3>
<p>Para isso acontecer é necessário utilizar o método <i>"append"</i>, em seguida colocar o termo desejado dentro do parantêses. </p>

In [ ]:
my_list.append('d')

In [ ]:
my_list

['a', 'b', 'c', 'd']

- <h3>Inserir um elemento novo em uma colocação específica da lista:</h3>
<p>Para isso é necessário utilizar o método <i>"insert"</i> e, dentro do parênteses, especificar a posição e junto do termo a ser adicionado.</p>
<p><b>OBS:</b> A ordem de contagem de posições de uma lista começa da posição 0.</p>

In [ ]:
my_list.insert(1, 'f')

my_list

['a', 'f', 'b', 'c', 'd']

- <h3>Indexação de uma lista para acessar os seus elementos:</h3>
<p>Para acessar os elementos de uma lista, coloca-se o nome da lista seguido de "[ ]" contendo a posição desejada.</p>

In [ ]:
my_list[0]

'a'

In [ ]:
my_list[1]

'f'

<p>O símbolo ":" no colchetes funciona como um ponto de referência. Como o exemplo abaixo "[1:]", este comando indica que os elementos da lista apartir do elemento de ordem 1 serão exibidos.</p>

In [ ]:
my_list[1:]

['f', 'b', 'c', 'd']

<p>Na situação contrária " [:1] ", significa que os elementos anteriores ao de ordem 1 serão exibidos. </p>

In [ ]:
my_list[:1]

['a']

Veja esta situação em que listas são elementos de outras listas.

In [ ]:
nest = [1,2,3,[4,5,['target', 'name']]]

O elemento na posição 3 da lista nest é a lista "[4, 5 ['target]] ". A partir dela é possível verificar seus elementos.

In [ ]:
nest[3]

[4, 5, ['target', 'name']]

In [ ]:
nest[3][2]

['target', 'name']

In [ ]:
nest[3][2][0]

'target'

Também é possível mudar o elemento de uma lista. Indique a lista e a posição do elemento igual ("=") ao que termo deseja colocar.

In [ ]:
my_list[0] = 'NEW'

In [ ]:
my_list

['NEW', 'f', 'b', 'c', 'd']

<h2> 5. Dicionários </h2>
<p> Os dicionários são estruturas em que os índices tem valores atrelados. São marcados por "{ }" em uma estrutura definida como "chave:valor".</p>
<p> Seguindo o exemplo abaixo: a "chave1" tem o valor atribuído "item1" e assim por diante.  </p>

In [ ]:
d = {'chave1':'item1','chave2':'item2'}

In [ ]:
d

{'chave1': 'item1', 'chave2': 'item2'}

Para visualizar qual valor está atribuído a uma chave específica, faça:

In [ ]:
d['chave1']

'item1'

Adicionando outra chave ao dicionário:

In [ ]:
d['chave3'] = 'item3'

In [ ]:
d

{'chave1': 'item1', 'chave2': 'item2', 'chave3': 'item3'}

Removendo um item do dicionário:

In [ ]:
d.pop('chave2')

'item2'

In [ ]:
d

{'chave1': 'item1', 'chave3': 'item3'}

<h2> 6. Booleans </h2>
<p> Os valores <i>booleanos</i> são aqueles que tem a possibilidade de serem apenas duas coisa: Verdadeiro (True) ou Falso (False). </p>
<p>- Exemplos: </p>

In [ ]:
True

True

In [ ]:
False

False

<p>Existe ainda a possibilidade de `False` e `True` serem somados. Assim, eles são utlizados como 1 (True) e 0 (False).</p>
<p>- Exemplos: </p>

In [ ]:
False + True

1

In [ ]:
False + False

0

In [ ]:
True + True + True

3

Eles também podem ser utilizados com operadores lógicos, algo aplicado para tomada de decisão.

In [ ]:
True or False

True

In [ ]:
True and False

False

<h2> 7. Tuplas</h2>
<p> As tuplas, assim como as listas, permitem guardar várias informções dentro de uma variável, porém elas <b> não </b> são modificáveis após a declaração.</p>
<p>Além disso, o símbolo utilizado para declarar as tuplas em uma variável é o "( )." </p>
<p>- Veja o exemplo: </p>

In [ ]:
t = (1,2,3)

In [ ]:
t[0]

1

In [ ]:
t[0:2]

(1, 2)

In [ ]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

<h2> 8. Sets </h2>
<p> Os sets são um tipo de dado desordenado (não podemos extrair conteúdo por indexação) e que não aceita elementos repetidos. Seus elementos são declarados entre "{ }".</p>
<p>- Veja os exemplos: </p>

In [ ]:
{1,2,3}

{1, 2, 3}

In [ ]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [ ]:
{5,2,1,2,3,3,1,3,1,1,2,3,2,1,3,1,5,5,3,5,1,2,2,1}

{1, 2, 3, 5}

<p>No caso de uma lista com elementos repetidos, para obtermos apenas termos únicos, podemos transformá-la em um set e depois em uma lista novamente.  </p>
<p>- Veja a seguir: </p>

In [ ]:
list_dup = [1,1,1,1,1,3,3,3,3,6,6,6]

set(list_dup)

{1, 3, 6}

In [ ]:
list_not_dup = list(set(list_dup))
list_not_dup

[1, 3, 6]

<h1>Operadores de comparação</h1>
<p> O Python possui operadores de comparação que funcionam assim como os da matemática. São eles: </p>

- <h3>Sinal de maior: </h3>

In [ ]:
1 > 2

False

- <h3>Sinal de menor: </h3>

In [ ]:
1 < 2

True

- <h3>Sinal de maior ou igual: </h3>

In [ ]:
1 >= 1

True

- <h3>Sinal de menor ou igual:</h3>

In [ ]:
1 <= 4

True

- <h3>Sinal de igual a: </h3>

In [ ]:
1 == 1

True

In [ ]:
'hi' == 'bye'

False

<h2>Operadores Lógicos </h2>
<p> Os operadores lógicos nos permitem realizar testes, eles analisam se tal condição é verdadeira ou falsa. </p>

- <h3>Operador <i>"and"</i>: </h3>
<p> Ele retorna "True" quando as duas afirmações forem verdadeiras.</p>

In [ ]:
(1 > 2) and (2 < 3)

False

- <h3>Operador <i>"or"</i>: </h3>
<p>Caso alguma das afirmações for verdadeira, ele retorna "True". </p>

In [ ]:
(1 > 2) or (2 < 3)

True

In [ ]:
(1 == 2) or (2 == 3) or (4 == 4)

True

<h1> Estruturas Condicionais: if, elif, else </h1>
<p> Esses operadores são utilizados em diferentes condições para a tomada de uma decisão. Ele determina se um bloco será executado a partir de uma determinada condição.</p>

<p>- Exemplo 1:</p>
<p> Se 1 < 2, exiba "yep!"</p>

In [ ]:
if 1 < 2:
    print('yep!')

yep!

In [ ]:
if 1 > 2:
    print('yep!')

<p> - Exemplo 2:</p>
<p> Se 1 < 2, exiba "primeiro"</p>
<p> Além disso (se referindo a condição anterior) , exiba "ultimo"</p>

In [ ]:
if 1 < 2:
    print('primeiro')
else:
    print('ultimo')

primeiro

<p>  - Exemplo 3: </p>
<p> Se 1 é igual a 2, exiba "primeiro"</p>
<p> Caso 1 não for igual a 2 e 3 for igual a 3, exiba "no meio"</p>
<p> Além disso (se referindo as condições anteriores) , exiba "ultimo"</p>

In [ ]:
if 1 == 2:
    print('primeiro')
elif 3 == 3:
    print('no meio')
else:
    print('ultimo')

no meio

## `for` Loops
<p>Os <i>for Loops</i> são utilizados em blocos que devem ser repetidos uma certa quantidade de vezes.  </p>
<p>Explicando o exemplo abaixo: Em uma determinada lista (nomeamos como "seq"), deseja-se exibir os valores presentes nela. Para fazer isso utilizando o comando <i>for</i>, escreve-se <i>for</i> "variável que você está criando" <i>in</i> "lista que você está utilizando".  </p>
<p>A "variável que você está criando" nada mais é do que cada item da lista individualmente.</p>

In [ ]:
seq = [1,2,3,4,5]

In [ ]:
for item in seq:
    print(item)

1
2
3
4
5

Assim, escreva 'Yep' para cada item presente em "seq".

In [ ]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

O nome da variável `item` (variável que você está criando) é completamente arbitrário, pode ser escolhido qualquer um (desde que seja permitido).

In [ ]:
for carlos in seq:
    print(carlos+carlos)

2
4
6
8
10

Neste exemplo foi utilizado o `for` e o `if`:

In [ ]:
seq = [1,2,3,4,5]

for item in seq:
    print(item)
    if item > 3:
        break

1
2
3
4

## `while` Loops
<p> Os <i>while Loops</i> são outro tipo de estrutura de repetição. Sua diferença com relação aos <i>for Loops</i>, é que não há um limite na quantidade de repetições, o necessário é satisfazer uma determinada condição.</p>

<p>No exemplo seguinte, a condição é que i seja menor que 5, o <i>Loop</i> para ao não satisfazer mais essa exigência.</p>

In [ ]:
i = 1
while i < 5:
    print(f'i is: {i}')
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()
<p>A função <i>range</i> é utilizada para criar intervalos que, posteriormente, podem se transformar em listas. No parênteses da função, define-se o ponto inicial, o ponto de parada e o step (o valor de diferença para o próximo elemento), respectivamente.   </p>
<p><b>OBS</b>: Não necessariamente precisa-se definir o ponto inicial e o step. Ao colocar apenas um valor, a função presume que ele é o ponto de parada, presume que o ponto incial é 0 e o step é 1.</p>
<p>- Exemplos:</p>

In [ ]:
range(5)

range(0, 5)

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

Podemos gerar os números pares (ou ímpares) usando `range`.

In [ ]:
list(range(2,10,2))

[2, 4, 6, 8]

## List Comprehension
<p>É uma maneira mais simples de obter uma lista, é feita em apenas 1 linha de código. </p>
<p>Vamos pegar a lista x e montar uma lista nova com seus valores ao quadrado. Resolveremos isso sem e com list comprehension.</p>

In [ ]:
x = [1,2,3,4]

<p>- Exemplo sem list comprehension:</p>

In [ ]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

<p>- Exemplo com list comprehension: </p>

In [ ]:
[item**2 for item in x]

[1, 4, 9, 16]

Agora, um modelo mais complexo fazendo uso de uma condição:

In [ ]:
num = range(20)

odd = [x for x in num if x % 2 == 1]

odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
num = range(20)

[x if x % 2 == 1 else 'No' for x in num ]

['No',
 1,
 'No',
 3,
 'No',
 5,
 'No',
 7,
 'No',
 9,
 'No',
 11,
 'No',
 13,
 'No',
 15,
 'No',
 17,
 'No',
 19]

## Funções
<p>As funções são conjuntos de códigos que executam uma tarefa específica ao serem "chamadas". Elas podem receber dados como parâmetros e retornar resultados.</p>
<p>Para definir uma função, é necessário escrever <i>"def"</i>, o nome da função e ( ):</p>

<p>- Veja o exemplo de uma função extremamente simples:</p>

In [ ]:
def simple():
    pass

In [ ]:
simple

In [ ]:
simple()

<p>- Exemplo de outra função simples:</p>

In [ ]:
def simple1():
    print("Oi")

In [ ]:
simple1()

Oi

<p>- Exemplo de uma função com parâmetro: </p>

In [ ]:
def my_func(param1='default'):
    """
    Uma explicação sobre a função.
    """
    print(param1)

In [ ]:
my_func()

default

In [ ]:
my_func('novo param')

novo param

In [ ]:
my_func(param1='novo param')

novo param

<p>- Exemplo de uma função para calcular o quadrado de x:</p>

In [ ]:
def square(x):
    return x**2

In [ ]:
out = square(2)

In [ ]:
print(out)

4

## Expressões de `lambda`
<p>As expressões lambda são funções que não precisam ser definidas. Servem para facilitar o código, já que evitam o processo de definir uma função. </p>
<p>É estruturada como: <i>lambda</i> "valor que ela irá receber": "o que a função irá te dar como resposta".</p>

<p>- Exemplo de uma função tradicional: </p>

In [ ]:
def times2(var):
    return var*2

In [ ]:
times2(2)

4

<p> - Exemplo de uma função lambda: </p>

In [ ]:
times3 = lambda var: var*3

In [ ]:
times3(2)

6

## `map` e `filter`
<p>A função <i>map</i> tem como objetivo aplicar (mapear) uma função para cada informação presente em uma lista. Em seu parênteses é colocado a função aplicada e a lista escolhida.</p>
<p>A função <i>filter</i> realiza uma filtragem dos elementos de uma lista com base em uma determinada condição. Assim como na função <i>map</i>, em seu parênteses é colocada a função aplicada e a lista escolhida.</p>

In [ ]:
seq = [1,2,3,4,5]

<p>- Exemplo função <i>map</i>:</p>

In [ ]:
map(times2,seq)

In [ ]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [ ]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

<p>- Exemplo função <i>filter</i>:</p>

In [ ]:
filter(lambda item: item%2 == 0,seq)

In [ ]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## Métodos
<p>O método é uma característica das linguagens orientadas ao objeto. Ele age como uma função, só que pertencente a uma classe.</p>

<p> Veja algumas aplicações: </p>

In [ ]:
st = 'Oi! Meu nome é Vahid'

- <h3> Deixando todas as letras minúsculas: </h3>

In [ ]:
st.lower()

'oi! meu nome é vahid'

- <h3> Deixando todas as letras maiúsculas: </h3>

In [ ]:
st.upper()

'OI! MEU NOME É VAHID'

- <h3> Dividindo as palavras da sentença: </h3>

In [ ]:
st.split()

['Oi!', 'Meu', 'nome', 'é', 'Vahid']

- <h3> Separação da setença por um argumento específico: </h3>

In [ ]:
tweet = 'Go Sports! #Sports'

In [ ]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [ ]:
tweet.split('#')[1]

'Sports'

- <h3> Aplicação em um dicionário para ver suas chaves e elementos: </h3>

In [ ]:
d

{'chave1': 'item1', 'chave2': 'item2'}

In [ ]:
d.keys()

dict_keys(['chave1', 'chave2'])

In [ ]:
d.items()

dict_items([('chave1', 'item1'), ('chave2', 'item2')])

- <h3> Remover um elemento específico (como o índice não foi atribuído, o último elemento foi removido): </h3>

In [ ]:
lst = [1,2,3]

In [ ]:
lst.pop()

3

In [ ]:
lst

[1, 2]

- <h3> Determinar a presença ou não de um elemento em uma lista:</h3>

In [ ]:
'x' in [1,2,3]

False

In [ ]:
'x' in ['x','y','z']

True

<h1> Hora de praticar! </h1>